/* Formulario*/
/* Margin da row ao banner */
.rowForm
{
    margin-top:25px;
}
/* alinhamento do texto ao centro verticalmente e a direita horizontalmente*/
.lblAl
{
    text-align: left;
    vertical-align: center;
}
/* Inputs text do formulário */ 
input:focus
{
    border: solid 0.5px #31b0d5;
}
#txtNome
{
    width:520px;
    margin-left:0px;
    
}
#txtLogin
{
    width: 190px;
}
#txtSenha
{
    width: 234px;
    margin-right: -3000px;
}
#txtConfirmarSenha
{
    width: 234px;
    margin-left: -55px;   
}
#btnCancelar
{
    margin-right:-270px;
}
#txtCpf
{
    width:190px;
}
#txtRG
{
    width:234px;
}
#txtRua
{
    width:520px;
}
#txtNumero
{
    width:80px;
}
#txtBairro
{
    width:314px;
    margin-left:10px;
}
#txtCidade
{
    width:211px;
}
#slcEstado
{
    width:200px;
    text-align: center;
    margin-left:32px;
}
#txtTelefone
{
    width:211px;
}