/* Formulario*/
/* Margin da row ao banner */
.rowForm
{
    margin-top:20px;
}
/* alinhamento do texto ao centro verticalmente e a direita horizontalmente*/
.lblAl
{
    text-align: right;
    vertical-align: center;
}
/* Inputs text do formulário */ 
input:focus
{
    border: solid 0.5px #31b0d5;
}
#txtNome
{
    width:520px;
    margin-left:0px;
}
#txtNome_representante
{
    width:520px;
    margin-left:0px;
}

#btnCancelar
{
    margin-right:-263px;
}
#txtCnpj
{
    width:230px;
}
#txtRua
{
    width:520px;
}
#txtNumero
{
    width:80px;
}
#txtBairro
{
    width:160px;
    margin-left:10px;
}
#txtCidade
{
    width:211px;
}
#slcEstado
{
    width:200px;
    text-align: center;
    margin-left:32px;
}
#txtTelefone
{
    width:211px;
}
#txtTelefone_representante
{
    width:211px;
}