/* Formulario*/

/* Margin da row ao banner */
.rowForm
{
    margin-top:25px;
}
/* alinhamento do texto ao centro verticalmente e a direita horizontalmente*/
.lblAl
{
    text-align: right;
    vertical-align: center;
}


/* Inputs text do formulário */ 
input:focus
{
    border: solid 0.5px #31b0d5;
}
#txtNome
{
    width:378px;
    height:25px; 
}
#btnCancelar
{
    margin-right:-24px;
}

#txtQuantidade
{
    width:230px;
    height:25px;
}

#txtPrecoCompra
{
    width:230px;
    height:25px;
}

#txtPrecoVenda
{
    width:230px;
    height:25px;
}

#txtCodigoBarras
{
    width:230px;
    height:25px;
}