.text-error{
  color: #FF0000;
  font-size: 12pt !important;
}

.text-titulo{
  font-size: 40pt !important;
}

.espacamento{
    margin-top: 30px !important;
}

.removerMargem{
    position: relative !important;
    margin: 0 !important;
}

.text-opcoes{
    color: #585858 !important;
}

.text-opcoes:hover{
    color: #8A4B08 !important;
    text-decoration: underline !important;
}

.jumbotron{
    border-radius: 0;
    color: white;
    background-image:-moz-radial-gradient(center,ellipse cover,#8A4B08 1%,#3A2F0B 100%);
    background-image:-webkit-radial-gradient(center,ellipse cover,#8A4B08 1%,#3A2F0B 100%);
    background-image:-o-radial-gradient(center,ellipse cover,#8A4B08 1%,#3A2F0B 100%);
    background-image:-ms-radial-gradient(center,ellipse cover,#8A4B08 1%,#3A2F0B 100%);
    background-image:radial-gradient(ellipse at center,#8A4B08 1%,#3A2F0B 100%);
}

body {
  background-color: #f1f1f1 !important;
}

.subTitulo{
    color: #585858 !important;
    margin-top: 30px;
    text-align: center;
}

.table-bordered td{
    border-color: #181818 !important;
}

.menu ul {font-size: 15px; margin: 0 auto;}

.navbar{
    background-color: #181818 !important;
}

.nav-link{
    color: white !important;
}

.active{
    font-weight: 700 !important;
    text-decoration: underline;
    color: white;
}

.nav-link:hover{
    text-decoration: underline !important;
}

.dropdown-item:hover{
    color: black;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #151515;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd !important;
}

.dropdown-content a:active {
    background-color: #ddd !important;
    color: black;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.formatacao{
    font-family: arial;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 12px;
}