/* Formulario*/

/* Margin da row ao banner */
.rowForm
{
    margin-top:25px;
}
/* alinhamento do texto ao centro verticalmente e a direita horizontalmente*/
.lblAl
{
    text-align: left;
    vertical-align: center;
}


/* Inputs text do formulário */ 
input:focus
{
    border: solid 0.5px #31b0d5;
}
::-webkit-input-placeholder {
    text-align: center;
    vertical-align: center;
 }
 
 :-moz-placeholder { 
    text-align: center;  
    vertical-align: center;
 }
 
 ::-moz-placeholder {  
    text-align: center;  
    vertical-align: center;
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    vertical-align: center;
 }
#btnCancelar
{
    margin-right:-35px;
}

#txtProduto
{
    width:280px;
    height:25px; 
    margin-left:30px;
}

#txtFuncionario
{
    width:280px;
    height:25px;
    margin-left:50px; 
}

#txtFornecedor
{
    width:280px;
    height:25px; 
    margin-left:30px;
}

#txtCliente
{
    width:280px;
    height:25px;
    margin-left:50px; 
}

#txtEmprestimo
{
    width:280px;
    height:25px;
    margin-left:30px;
}

#panelResultados
{
    width:780px;
    height: 400px;
    padding-left:25px;
}