/* Formulario*/
/* Margin da row ao banner */
.rowForm
{
  margin-top:25px;
}
/* alinhamento do texto ao centro verticalmente e a direita horizontalmente*/
.lblAl
{
  text-align: left;
  vertical-align: center;
}
.confcod
{
  font-weight: bold;
}
.confTr
{
  text-align: center;
}

/* Inputs text do formulário */ 
input:focus
{
  border: solid 0.5px #31b0d5;
}
#txtCodBarras
{
  width: 50%;
  height:25px;
  margin-left:0px;
}
#btnCancelar
{
  font-weight: bold;
  color:white;
  float: right;
}

#btnRemover
{
  float: right !important;
}
#btnAdicionar
{
  float: right !important;
}

#btnAdicionar
{
  float: right;
  font-weight: bold;
}

#btnFinalizar
{
  float: right;
  width: 100%;
  font: bold 30px arial, sans-serif;
  color: white;
}

#btnCliente
{
  float: right;
  width: 100%;
  font: bold 30px arial, sans-serif;
  color: ;
}

#btnEmpre
{
  float: right;
  width: 100%;
  font: bold 30px arial, sans-serif;
  color: #17a2b8;
}

#btnEmpre:hover {
  color: white;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

#numValor
{
  width:230px;
  height:25px;
}

#txtProd
{
  width: 100%;
  height:25px;
  margin-left:0px;
}

#numQuant
{
  height: 25px;
  width: 200px;
  margin-left: 0px;
  text-align: left;
}

#numTotal
{
  font: bold 30px arial, sans-serif;
  width: 100%;
  color: gray;
  text-align: right;
}

#txtCPF
{
  width: 200px;
  height:25px;
  margin-left:0px;
}

#datDia1
{
  width: 100%;
  height:25px !important;
  margin-left:0px;
}

#txtRG
{
  float: right;
  width: 200px;
  height:25px;
  margin-left:0px;
}

#txtNome
{
  float: right;
  width: 100%;
  height:25px;
  margin-left:0px;
}

#txtNome_representante
{
  float: right;
  width: 100%;
  height:25px;
  margin-left:0px;
}

#numLim
{
  float: right;
  width: 200px;
  height:25px;
  margin-left:0px;
}

#selPag
{
  float: left;
  width: 100%;
  height:25px;
  margin-left:0px; 
}

.divTable
{
  border: 1px solid #dee2e6; 
  height: 300px;
}

.rowTable
{
  margin
}





